* {
    box-sizing: border-box;
    margin: 0;
}

.wireframe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 1100px;
    height: 100px;

}

.grid-parent {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 100px;
    height: 100px;
    border: 0.5px solid black;
}

.grid-area {
    border: 1px solid gray;
    width: 20px;
    height: 20px;
}

.form {
    position: absolute;
    top: 150px;
    
}


.fieldset {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-wrap: wrap;
    width: 600px;
    height: 480px;
    position: relative;
    align-items: center;
    left: 200px;
    top: -50px;
    border: 1px solid black;
    z-index: 1;
    background-color: rgb(255, 255, 255);

}

.information {
    display: block;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    left: 190px;
    width: 200px;;
    height: 200px;
    top: 10px;
    
}
/* 
.first_name {
    display: block;
    position: relative;
    left: 40px;
    width: 200px;
} */

/* label[for="firstName"] {
    position: relative;
    left: 10px;
} */

.input_boxes {
    color: pink;
    position: relative;
    width: 200px; 
}

.status_jobs {
    position: absolute;
    width: 70px;
}

.calendar_date{
    position: absolute;
    width: 70px;
    left: 30px;

}

.choose_favourite {
    display: block;
    position: relative;
    left: 120px;
    width: 500px;;
    height: 100px;
    top: 70px;
}

.comments_terms_condition{
    display:flex;
    position: relative;
    left: 120px;
    width: 20px;;
    height: 50px;
    top: 120px;
}
 .input_fields {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 180px;

 }

 p {
    font-size: 13px;
 }

.terms_condition {
    display: inline-block;
}


.add_user {
    position: absolute;
    top: -10px;
    left: 100px;
    width: 100px;
    height: 25px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;

}

.comments_terms_condition {
    display: block;
}

.submit_form {
}

.last_name {
    display: block;
    left: 40px;
    width: 100px;
}

.email_address {
    display: block;
    left: 40px;
    width: 100px;
}


.comments_terms_condition {
    position: relative;
    left: 200px;
    top: 65px;
}

.terms_condition {
    display: flex;
    flex-wrap: nowrap;
    width: 200px;
}

.submit_form {
    position: relative;
    bottom: 1px;
}

