* {
    box-sizing: border-box;
    margin: 0;
}

.wireframe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 1100px;
    height: 100px;

}

.grid-parent {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 100px;
    height: 100px;
    border: 0.5px solid black;
}

.grid-area {
    border: 1px solid gray;
    width: 20px;
    height: 20px;
}

.parent-1 {
}

.parent-2 {
}

.parent-3 {
}

.form {
    position: absolute;
    top: 150px;
    
}



.fieldset {
    display: block;
    flex-wrap: wrap;
    width: 700px;
    height: 480px;
    position: relative;
    align-items: center;
    left: 200px;
    top: -50px;
    border: 1px solid black;
    z-index: 1;
    background-color: rgb(255, 255, 255);

}

.information {
    display:flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    left: 200px;
    width: 30px;;
    height: 120px;
    top: 10px;
    
}

.status_date {
    display:flex;
    position: relative;
    justify-content: center;
    left: 120px;
    width: 200px;;
    height: 50px;
    top: 70px;
}

.choose_favourite {
    display: block;
    position: relative;
    left: 120px;
    width: 500px;;
    height: 100px;
    top: 70px;
}

.comments_terms_condition{
    display:flex;
    position: relative;
    left: 120px;
    width: 20px;;
    height: 50px;
    top: 120px;
}
 .input_fields {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
 }

.terms_condition {
    display: inline-block;
}


.add_user {
    position: absolute;
    top: -10px;
    left: 40px;
    border: 1px solid black;
    display: inline;
    flex-wrap: wrap;
    background-color: white;
}

.first_name {
    display: block;
    left: 40px;
    width: 100px;
    margin: 10px;
}

.last_name {
    display: block;
    left: 40px;
    width: 100px;
    margin: 10px;

}

.email_address {
    display: block;
    left: 40px;
    width: 100px;
    margin: 10px;

}

.calendar_date {
    position: relative;
    left: 50px;
}



.submit_form {
    position: relative;
    bottom: 1px;
}

